nav {
    border: 5px solid rgb(141, 122, 122);
    display: flex;
    justify-content: center;
}

h1 {
    display: flex;
    justify-content: center;
    border: 5px solid blue;
}

h2 {
    border: 5px solid red;
    display: flex;
    text-align: left;
    gap: 20px;
}

legend {
    display: flex;
    justify-content: center;
    border: 5px solid green;
}

ul {
    display: flex;
    gap: 5px;
    flex-direction: column;
}

ul li {
    display: flex;

}

button {
    border: 5px solid yellow;
    display: flex;
   justify-content: flex-start;
    gap: 20px;
}