<body>

    <div class="container">
        <nav>Início do Quiz - Situação de Aprendizagem</nav>
        <h1>Tempo Restante -> {{ tempoDeResposta }} </h1>
        <h2>{{contador}}/3 - Primeira Pergunta</h2>
        <form>
            <legend> {{ this.enunciado }} </legend>
            <ul>
                <li><button class="botoes" (click)="selecionarAlternativa(1)" id="x">1-</button>
                    <label for="x">{{this.alternativas[0]}}</label>
                </li>
                <li><button class="botoes" (click)="selecionarAlternativa(2)">2-</button>
                    <label for="x">{{this.alternativas[1]}}</label>
                </li>
                <li><button class="botoes" (click)="selecionarAlternativa(3)">3-</button>
                    <label for="x">{{this.alternativas[2]}}</label>
                </li>
                <li><button class="botoes" (click)="selecionarAlternativa(4)">4-</button>
                    <label for="x">{{this.alternativas[3]}}</label>
                </li>
                <li><button class="botoes" (click)="selecionarAlternativa(5)">5-</button>
                    <label for="x">{{this.alternativas[4]}}</label>
                </li>
            </ul>
        </form>
        <button type="submit" value="{{this.alternativaSelecionada}}" (click)="alterarPergunta()">Proxima
            pergunta</button>
    </div>
</body>