*{
    font-family: "Lato", sans-serif;
}
::placeholder{
    color: #B4B4B4;
}
.form-login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 773px;
  height: 383px;
  border-radius: 5px;
  background-color: #1E1E1E;
  /* opacity: 0.9; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFFFFF;
  width: 225px;
  height: 234px;
  margin-left: 50px;
  margin-top: 20px;
}

.item1 label {
    font-size: 23px;
    margin-bottom: 10px;
    color: #FFFFFF;
}

.item1 legend {
    text-align: center;
}

.item2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 360px;
  margin-right: 50px;
}

.item2 input {
    color: #FFFFFF;
    border: 0;
    outline: 0;
    background: transparent;
    width: 64%;
    border-bottom: 1px solid #AFAFAF;
    margin-bottom: 15px;
}
.item2 button{
    width: 55%;
}


