<link rel="stylesheet" href="./quiz.component.css">

<body>
  <div class="container">
    <form class="form-login" action="">
      <div class="item1">
        <label for="login">Nome do sistema</label>
        <legend>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
          dolore magna aliqua. Egestas erat imperdiet sed euismod nisi.</legend>
      </div>
      <div class="item2">
        <label for="">Login</label>
        <input type="text" id="login" placeholder="Nickname ou chave de acesso">
        <button>Login</button>
      </div>
    </form>
  </div>
</body>
