<nav>Inicio do Quiz-Situação de Aprendizagem</nav>

<h1>Tempo Restante:</h1>

<h2>Primeira Pergunta</h2>

<form action="">
    <legend>Um texto a ser lindo pelo usuaria quando estiver jogando</legend>
    
    <ul>
        <li for="Alternativa A">Alternativa A</li><br>
        <li for="Alternativa B">Alternativa B</li><br>
        <li for="Alternativa C">Alternativa C</li><br>
        <li for="Alternativa D">Alternativa D</li><br>
        <li for="Alternativa E">Alternativa E</li><br>
    </ul>

</form>

<a href=""><button>Proximo</button></a>