<body>
    <div class="bg"></div>
    <div class="container">
      <form class="form-login" action="">
  
        <h1>Lista de Perguntas</h1>
        
          <div class="tabela">
              <table>
              <tr>
                  <th>Perguntas</th>
                  <th class="data">Data de Cadastro</th>
                  <th class="linhat">Editar</th>
                  <th class="linhat">Excluir</th>
              </tr>
              <tr *ngFor="let p of perguntas">
                  <td>Perguntas-{{p.pergunta_id}}</td>
                  <td class="data">{{p.data_cricao | date:'dd/MM/yyyy'}}</td>
                  <td class="linha">Editar</td>
                  <td class="linha">Excluir</td>
              </tr>
              </table>
              </div>   
              <div class="b">
                  <button (click)="criar()" class="botao">Criar Pergunta</button>
              </div> 
       </form>
    </div>
  </body>