
<h1><img src="assets/quiz.png">Lista de Perguntas</h1>

<aside class="botao">
    <a href=""><button>Criar Pergunta</button></a>
</aside>

<main>
    <table border="1">
    <tr>
        <th>Perguntas</th>
        <th class="dc">Data de Cadastro</th>
        <th>Editar</th>
        <th>Excluir</th>
    </tr>
    <tr>
        <td>Pergunta1</td>
        <td class="data">24/05/22</td>
        <td class="editar"><a href="">Editar</a></td>
        <td class="excluir"><a href="">Excluir</a></td>
    </tr>
    <tr>
        <td>Pergunta2</td>
        <td class="data">24/05/22</td>
        <td class="editar"><a href="">Editar</a></td>
        <td class="excluir"><a href="">Excluir</a></td>
    </tr>
    <tr>
        <td>Pergunta3</td>
        <td class="data">24/05/22</td>
        <td class="editar"><a href="">Editar</a></td>
        <td class="excluir"><a href="">Excluir</a></td>
    </tr>
    <tr>
        <td>Pergunta4</td>
        <td class="data">24/05/22</td>
        <td class="editar"><a href="">Editar</a></td>
        <td class="excluir"><a href="">Excluir</a></td>
    </tr>
    </table>
</main>