@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    text-decoration: none;
  }
  .bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: radial-gradient(rgb(162, 162, 162), rgb(119, 119, 119), rgb(53, 53, 53));
  
  }

  .container {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    width: 773px;
    height: 383px;
  }

  h1{
    color: #FFFF;
    text-align: center;
    cursor: default;
  }
  
  table,th,td{
      border: 1px solid #AFAFAF;
      width: 80%;
  }

  table{
      border-collapse: collapse;
  }

  .tabela{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    max-height: 200px;
    margin-bottom: 3%;
    overflow:auto;

  }

  tr{
    color: #fffafa;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color:rgba(34, 34, 34, 0);
    font-style: normal;
    cursor: default;
  }

  .linha{
    text-align: center;
    width: 25%;
    cursor: pointer; 
  }

  .linhat{
    width: 25%;
  }

  .data{
    text-align: center;
    width: 45%;
  }

  .b {
    display: flex;
    flex-direction: column;
    width: 360px;
  }

  .b button{
    margin-left: 80%;
  }

  .botao{
    width: 55%;  
    opacity: .8;
    background-color: #fff;
    height: 40px;
    font-size: 16px;
    color: #222;
    font-weight: bold;
    border-radius: 5px;
  }

  .botao:hover{
    opacity: 1;
    transition: .5s;
    cursor: pointer;
  }

