section {
    margin: 50px 0px 0px 70px;
}

.div {
    display: flex;
    flex-flow: row wrap;
    width: 800px;
    height: 400px;
}

section div div {
    width: 50%;
}

section textarea {
    width: 800px;
    height: 150px;
}

.alternativa {
    width: 85%;
    height: 25%;

}

.resposta {
    width: 20%;
    height: 25%;
}
.h3{
    margin: 20px 0px 5px 1px;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 35px;
    margin: 0px 0px 55px 0;
}

button{
    position: absolute;
    right: 15%;
    width: 10%;
    height: 25px;
}