@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

::ng-deep body {
    margin-top: 40px;
    margin-left: 10%;
    margin-right: 10%;
    background-image: radial-gradient(rgb(162, 162, 162), rgb(119, 119, 119), rgb(53, 53, 53));
}

section {
    padding-top: 5px;
    max-width: 100%;

}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
}

@media screen and (max-width: 700px){
    .div {
        display: flex;
        flex-direction: column;
        width: 75%;
        height: 53%;
        margin-left: 5%;
        margin-top: 30px;
    }
}

.div {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    height: 53%;
    margin-left: 5%;
    margin-top: 30px;
}

section textarea {
    max-width: 800px;
    min-width: 68%;
    max-height: 150px;
    margin-left: 5%;
    color: #FFFFFF;
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid #AFAFAF;
    font-size: 16px;
    opacity: .7;

}

div section section h3 {
    margin-top: 50px;
    margin-left: 5%;
    color: #fff;
    font-weight: bold;
}

div section section h1 {
    font-size: 25px;
    margin-top: 50px;
    margin-left: 5%;
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width: 900px){
    .btn {
        width: 90%;
        opacity: .8;
        background-color: #fff;
        height: 40px;
        font-size: 16px;
        color: #222;
        font-weight: bold;
        border-radius: 5px;
        margin-bottom: 40px;
    }
}

.btn {
    position: fixed;
    width: 20%;
    opacity: .8;
    background-color: #fff;
    height: 40px;
    font-size: 16px;
    color: #222;
    font-weight: bold;
    border-radius: 5px;
    top: 600px;
    margin-left: 50%;
}
  
.btn:hover {
    opacity: 1;
    transition: .5s;
    cursor: pointer;
}

.item2 label {
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width: 700px){
    .item2 {
        display: flex;
        flex-direction: column;
        width: 90% !important;
        margin-right: 20px;
        margin-top: 30px;
    }
}

.item2 {
    display: flex;
    flex-direction: column;
    width: 45%;
    margin-right: 20px;
    margin-top: 30px;
}

@media screen and (max-width: 700px){
    .item2 input {
        color: #FFFFFF;
        border: 0;
        outline: 0;
        background: transparent;
        width: 45%;
        border-bottom: 1px solid #AFAFAF;
        margin-bottom: 15px;
        font-size: 16px;
        opacity: .7;
    }
}

.item2 input {
    color: #FFFFFF;
    border: 0;
    outline: 0;
    background: transparent;
    width: 100%;
    border-bottom: 1px solid #AFAFAF;
    margin-bottom: 15px;
    font-size: 16px;
    opacity: .7;
}

.item2 input::placeholder {
    color: #B4B4B4;
}

.item2 input:hover,
.item2 input:focus {
    opacity: 1;
}

@media screen and (max-width: 700px){
    .itemCerta {
        display: flex;
        flex-direction: column;
        width: 90% !important;
        margin-top: 30px;
    }
}

.itemCerta {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin-top: 30px;
}

.itemCerta label {
    margin-bottom: 30px;
    color: #fff;
    font-weight: bold;
}

@media screen and (max-width: 700px){
    .itemCerta input {
        color: #FFFFFF;
        border: 0;
        outline: 0;
        background: transparent;
        width: 100% !important;
        border-bottom: 1px solid #AFAFAF;
        margin-bottom: 40px;
        font-size: 16px;
        opacity: .7;
    }
}

.itemCerta input {
    color: #FFFFFF;
    border: 0;
    outline: 0;
    background: transparent;
    width: 170px;
    border-bottom: 1px solid #AFAFAF;
    margin-bottom: 40px;
    font-size: 16px;
    opacity: .7;
}

.itemCerta input::placeholder {
    color: #B4B4B4;
}

.itemCerta input:hover,
.itemCerta input:focus {
    opacity: 1;
}