<div class="body">
    <section class="container">
        <section>

            <h1>Criar Pergunta</h1>

            <h3>Enunciado</h3>

            <textarea [(ngModel)]="enunciadoP"></textarea>

            <div class="div">
                <div class="item2">
                    <label for="">Alternativa A</label>
                    <input type="text" placeholder="Resposta A" [(ngModel)]="resp1">
                </div>
                <div class="item2">
                    <label for="">Alternativa B</label>
                    <input type="text" placeholder="Resposta B" [(ngModel)]="resp2">
                </div>
                <div class="item2">
                    <label for="">Alternativa C</label>
                    <input type="text" placeholder="Resposta C" [(ngModel)]="resp3">
                </div>
                <div class="item2">
                    <label for="">Alternativa D</label>
                    <input type="text" placeholder="Resposta D" [(ngModel)]="resp4">
                </div>
                <div class="item2">
                    <label for="">Alternativa E</label>
                    <input type="text" placeholder="Resposta E" [(ngModel)]="resp5">
                </div>
                <div class="itemCerta">
                    <label for="">Alternativa Correta</label>
                    <input type="text" placeholder="Resposta Correta" [(ngModel)]="respCerta">
                </div>
            </div>

            <button class="btn" (click)="salvar()">Salvar</button>

        </section>
    </section>
</div>