<div class="body">
    <img src="./../../../assets/logo-avanade-icon.png">
    <section>
       
        <h1>Criar Pergunta</h1>

        <h3>Enunciado</h3>

        <textarea [(ngModel)]="enunciadoP"></textarea>

        <div class="div">
            <div class="pergunta">
                <h3 class="h3">Alternativa 1</h3>
                <input class="alternativa" type="text">
            </div>
            <div class="pergunta">
                <h3 class="h3">Alternativa 2</h3>
                <input class="alternativa" type="text">
            </div>
            <div class="pergunta">
                <h3 class="h3">Alternativa 3</h3>
                <input class="alternativa" type="text">
            </div>
            <div class="pergunta">
                <h3 class="h3">Alternativa 4</h3>
                <input class="alternativa" type="text">
            </div>
            <div class="pergunta">
                <h3 class="h3">Alternativa 5</h3>
                <input class="alternativa" type="text">
            </div>
            <div class="pergunta">
                <h3 class="h3">Alternativa correta</h3>
                <input class="resposta" type="text">
            </div>
        </div>

        <button (click)="salvar()">Salvar</button>

    </section>
</div>